<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd">
	
    <import resource="classpath:META-INF/cxf/cxf.xml" />   
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />   
    
    <!-- how ???
     <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>
    -->
         
        
          <!-- cxf rs -->
           
          <!-- 
          <jaxrs:providers>  //json and xml
			   <bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/>			   
		 </jaxrs:providers>
		 <jaxrs:providers>  // json only
			   <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
			</jaxrs:providers>
		 -->
		 
		 <!-- alw original
		  <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/>
		  -->
		  <!-- reference only not working for me
	     <bean id="jacksonObjectMapper" class="org.codehaus.jackson.map.ObjectMapper">
		    <property name="serializationInclusion" value="NON_NULL"/>
		</bean>
		-->
		 <!-- deal null lazy object by CustomObjectMapper  to disable the fail_on_empty beans-->
		<bean id="jacksonObjectMapper" class="au.com.new1step.apps.object.mapper.CustomObjectMapper"/>
		<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
		    <property name="mapper" ref="jacksonObjectMapper"/>
		</bean>
               
                  
          <jaxrs:server address="/memberService" id="memberService"> 
	          <jaxrs:serviceBeans>    
	                <ref bean="memberserviceClass"></ref>
	          </jaxrs:serviceBeans>  
	          <jaxrs:providers>
		            <ref bean="jsonProvider"/>
		      </jaxrs:providers>
		  </jaxrs:server> 	          
	     
	     <jaxrs:server address="/loginService" id="userInfoService"> 
	          <jaxrs:serviceBeans>    
	                <ref bean="userInfoServiceClass"></ref>
	          </jaxrs:serviceBeans>  
	          <jaxrs:providers>
		            <ref bean="jsonProvider"/>
		      </jaxrs:providers>
		  </jaxrs:server> 	
		  
	      <bean id="memberserviceClass" class="au.com.new1step.apps.vip.rs.service.impl.MemberServiceImpl"/>
	      <bean id="userInfoServiceClass" class="au.com.new1step.apps.vip.rs.service.impl.UserInfoServiceImpl"/>
	     
	    
 </beans>