<?xml version="1.0" encoding="UTF-8"?>

<!-- 
<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xmlns:jaxrs="http://cxf.apache.org/jaxrs"                       
         xmlns:context="http://www.springframework.org/schema/context"        
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://cxf.apache.org/jaxrs 
           http://cxf.apache.org/schemas.jaxrs.xsd
           http://springframework.org/schma/context
           http://www.springframework.org/schema/beans/spring-beans.xsd >
-->
<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xmlns:jaxws="http://cxf.apache.org/jaxws"                       
           
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://cxf.apache.org/jaxws 
           http://cxf.apache.org/schemas/jaxws.xsd">
          
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>  
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/> 
    <jaxws:endpoint id="entityEndPointId" implementor="au.com.new1step.apps.vip.ws.service.EntityServiceImpl"
         address="/entityService"/>
         
      <!-- 
    <context:component-scan base-package="au.com.new1step.apps.vip" />
    
    <jaxrs:server id="restContainer" address="/">
        <jaxrs:serviceBeans>
        	<ref bean="probablyPrimeService"/>
        	<ref bean="order"/>
        </jaxrs:serviceBeans>
        
        <jaxrs:extensionmappings>   
		    <entry key="xml" value="application/xml">   </entry>
		</jaxrs:extensionmappings>     
    </jaxrs:server>  
    -->
    <!-- alw: D/B was not used for this project --> 
    <!-- 
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">              
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="validationQuery" value="select 1"/> 
    </bean>
      
  	 <bean id="propertyConfigurer" 
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
          <property name="locations">
            <list>
                <value>classpath:/hibernate/jdbc.properties</value>
                      
            </list>
        </property>
    </bean>	
    -->   
</beans>
