/****************************
Update  : 15/05/2015
WeiSite : http://new1step.com.au/sendx
Using   : for sendx site

****************************/
/*  . -> point to class, # -> to id in jsp */
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	-webkit-text-size-adjust: none;
}
body {
	color: #7a7a7a;
	font: 12px/1.5em Arial, Verdana, "SimSun", "Microsoft YaHei", "SimHei", "STHeiti", Helvetica, sans-serif;
}
body a {
	color: #7a7a7a;
	text-decoration: none;
	outline: none;
}
body a:hover {
	color: #ad9444;
	text-decoration: underline;
}
table {
	border-collapse: collapse;
}
a img {
	border: none;
	vertical-align: middle;
}
td, th, button {	
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;	
}
ul li {
	list-style: none;
	cursor: pointer;
}
i,em{
	font-style:normal;
}
/*-- Other --*/
button {
	cursor: pointer;
	background: none;
	color: #555;
}
label {
	color: #666;
	vertical-align: middle;
}

input {
	width: 142px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
}

input#button{	
	background-color:green;
	color: white;
}

.subtitle{
	font: 14pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	font-weight: bold;
}

.noinput {
	width: 20px;
	background: none;
}

textarea {
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
}
.check {
	font-size: 10px;
}
.red {
	color: #c50d00;
}
.blue {
	color: #005e9c;
}
.green {
	color: #008000;
}
.yellow {
	color: #ee850a;
}
.gold {
	color: #ad9444;
}
.fLeft {
	float: 9e8232;
}
.fRight {
	float: right;
}
.tLeft {
	text-align: left;
}
.tRight {
	text-align: right;
}

/*-- Top Panel*/
.top-wrap {
	width: 100%;
	height: 120px;
	background-color:#4ACBD4;
}

.top-wrap div.top{
	width: 1000px;
	height: 120px;
	margin: 0 auto;
	background-color:#008001;
}
.top-wrap div.top .fl-left{
	width:300px;
	height:120px;
	float:left;	
}

.top-wrap div.top .fl-left .img-left{
	padding-left: 20px;
}

.top-wrap div.top .fl-right .img-right{
	padding-top:15px;
}
.top-wrap div.top .fl-right,.top-wrap div.top .fl-right-login{
	float:right;
	height:120px;
	width:700px;	
}

.top-wrap div.top .fl-right span{
	display:block;
	float:left;
	width:280px;
	height:70px;
}


/*-- Horizontal Menu --*/
.menu{
	overflow: hidden;
	width: 100%;
	height: 45px;
	background-color:#4ACBD4;
/*	line-height:51px;
	/*background-image:url(../images/menu-bg.gif);
	background-repeat:repeat-x;
	/* position: relative;
	z-index: 100; */
}
#header{
	width:1000px;
	height:45px;
	background-color:#38BAC3;
	margin:0 auto;
}
#header ul{
	height:45px;
	width:1000px;
	position:absolute;	
}

#header li{
	float:left;
	width:70px;
	height:45px;	
	position:relative;
	/* z-index:1; */
}

#header li a span{
	float:left;
	width:70px;
	height:45px;	
	line-height:45px;
	text-align:center;
	text-decoration:none;
	font-size:14pt;
	color:#fff;
	font-family: 'Microsoft YaHei';
}

#header li#menu_02{
	float:left;
	width:110px;
	height:45px;	
	position:relative;
}

#header li#menu_02 a span{
	float:left;
	width:110px;
	height:45px;	
	line-height:45px;
	text-align:center;	
	text-decoration:none;
	font-size:14pt;
	color:#fff;
	font-family: 'Microsoft YaHei';
}

#header li#menu_04{
	float:left;
	width:110px;
	height:45px;	
	position:relative;
}

#header li#menu_04 a span{
	float:left;
	width:110px;
	height:45px;	
	line-height:45px;
	text-align:center;	
	text-decoration:none;
	font-size:14pt;
	color:#fff;
	font-family: 'Microsoft YaHei';
}

#header li#menu_05{
	float:right;
	width:620px;
	height:45px;	
	position:relative;
}

/*
#header li a span{
	float:left;
	width:180px;
	height:49px;
	position:relative;
	z-index:1;
} 

#header .normal, #header .active{
	float:left;
	width:85px;
	height:49px;
	position:relative;
	z-index:1;
}
*/
#header li.selected,#move_ul li.back{
		background: url(../images/menu-hover.png) no-repeat center bottom;
}

#header li#menu_02.selected{
		background: url(../images/long-menu-hover.jpg) no-repeat center bottom;
}

#header li#menu_04.selected{
		background: url(../images/long-menu-hover.jpg) no-repeat center bottom;
}

#header li#menu_05.selected{
		background:none;
}
#header li.selected a{
	color:#060d10;
	Z-INDEX: 10;

}
/*
#header li#menu_05.selected a{
	color:#c89664;
}
*/
#btn_bg{
	width:85px;
	height:49px;
	background:url(../images/menu-hover.png);
	background-repeat:no-repeat;
	background-position:center center;
	position:absolute;
	overflow:hidden;
	left:0px;
	bottom:0;
	z-index:2;
}
#btn_bg ul{
	width:1000px;
	left:0px;
	position:absolute;
}
/*logo*/
/*
div.logo{
	position:relative;
	width:319px;
	height:49px;
	float:left;
}
div.logo .img{
	position:absolute;
	width:319px;
	height:135px;
	top: -86px;
	left: -5px;
	z-index:999;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
}
*/
/* main page */
div.page-main{
	width:100%;	
	background-color:#4ACBD4;
	/*
	background-image:url(../images/bg-page-main.png);
	background-repeat:repeat-x;
	*/
	min-height:100px;
	
}
.page-main h2{
	color:#fff;
	font-size:14px;
	height:37px;
	line-height:37px;
	width:1030px;
	margin:0 auto 0;
	text-indent:15px;
	background-image:url(../images/bg-h2-caption.png);
	background-repeat:no-repeat;
}

/* about content panel */
.page-main dl.about{
	width:1000px;
	margin:0 auto 0;
	min-height:100px;	
}
.page-main dl.about dt{
	height:10px;	
}
.page-main dl.about dd{
	color:#fff;
	background-color: #38BAC3;
	border: 5px solid green;
	overflow: hidden;	
	min-height:87px;
	
}
/*
.page-main dl.about dd div{
	margin:25px 35px 25px 35px;
}
*/
.page-main dl.about dd div h6{
	font-size:12px;
}
.page-main dl.about dd div p{
	text-indent:2em;
}

.page-main dl.about dd div span a{
	color: #F8F8FF;	
}

.page-main div.wrap_bottom {
	height: 40px;
}

/* contents panel */
.page-main dl.contents{
	width:1003px;
	margin:3px auto 0;
	min-height:100px;
}
.page-main dl.contents dt{
	height:7px;
}
.page-main dl.contents dd{
	color:#fff;   
	min-height:87px;
	text-indent:0px;
}

.page-main dl.contents dd div.wrapper{
	border: 5px solid green;
	background-color: #fff;
}


.page-main dl.contents dd div.clear:after{
	clear: both;
	content: "";
	display: table;
}

.page-main dl.contents dd div.pd-left{
	float: left;
	width: 200px;	
}

.page-main dl.contents dd div.pd-left ul{
	background-color: green;
}
.tabcontent div ul#vMenu li a{
	 color: green;
	 font-weight: bold;
}

.page-main dl.contents dd div.pd-left ul li{
	/*padding: 0 0 0 20px; */
	height: 37px;
	line-height: 37px;
	border: 4px solid #fff;       
	padding-left:10px;
	
}
.page-main dl.contents dd div.pd-left ul li.vMenu_00 span{
	 color: #ffff00;
	 font-size: 12pt;	
	 text-align: center;
	 padding-left:50px;
}

.page-main dl.contents dd div.pd-left ul li.selected{
	background-color:#ad9444;
	Z-INDEX: 10;
}

.page-main dl.contents dd div.pd-left ul li a{
	color: #fff;
}

.page-main dl.contents dd div.pd-right{
	float: left;	
	padding: 8 0 0;
	overflow: hidden;
}

.page-main dl.contents dd div.pd-right .title{
	width: 770px; 
	height: 35px;
    border-bottom: 1px solid #097235;
	overflow: hidden;
}

.page-main dl.contents dd div.pd-right .title .left{
	float: left;
	font-weight: bold;
	line-height: 45px;
	font-size: 14px;
	color: #097235;
	display: inline-block;
	padding: 0 0 0 20px;
}

.page-main dl.contents dd div.pd-right .title .right{
	float: right;
	margin: 10px 0 0 0;	
	height: 25px;
	line-height: 25px;	
	display: inline-block;
	padding: 0 0 0 20px;
}
/* goods start */
.page-main dl.contents dd div.pd-right .textColor {
	color: black;
}
.page-main dl.contents dd div.pd-right table, td, th {
  background-color:black;
  color:white;
  border:1px solid  #CC6600; 
  padding-left: 4px;
  padding-right: 4px;
}

.page-main dl.contents dd div.pd-right .bgWhite {
  background-color:white;
  border:1px solid white; 
}

.page-main dl.contents dd div.pd-right .tdBgWhiteFgBlack {
  color: black;
  background-color:white; 
  border:1px solid white;
}

.page-main dl.contents dd div.pd-right .tdBgWhiteFgBlackRight {
  text-align: right; 	
  color: black;
  background-color:white;
  border:1px solid white;
}	

/* goods end */
/* industry applications image*/
.ban-wrap{
	width:100%;	
	position:relative;
}
.ban-wrap div.bg-wrap{
	background-image: url(../images/applications.jpg); 
	background-position: center;
	background-repeat: no-repeat; 
	height: 387px;
	overflow: hidden;
	
}

/* footer panel */
div.footerWrap{
	width:100%;
	text-align:center;
	height:50px;
	padding-top:15px;
	color: #fff;	
	line-height:20px;
	background-color:#000000;
}
div.footerWrap p{
	padding-left:30px;
}

div.footerWrap .copyright{
	padding:5px;
	text-align: center;
}
div.footerWrap:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}

/* input fields */
.contents .input{
	padding-top: 25px;
}
.contents  .column-left{
	 float: left;
	 padding: 5px 0 0 20px;
	 width: 120px;
	 color: #000000;
	 font-weight: bold;
	 font-size: 12pt;	 
}


.contents  .column-right {
    float: left;   
    width: 580px;    
}

.contents  .column-right p,label{   
    color: #000000;
    font-weight: bold;
	font-size: 12pt;	
}
.contents  .column-right input{
    width: 250px;
}
.star {
	font-size: 15pt;
	color: #FF0000;
	font-weight: bold;
}

.fieldError {
	font-size: 10pt;
	color: #FF0000;
	font-weight: bold;
}

.fieldError span#codeErr {
	vertical-align: top;
}


#verifyImageInput {
	width: 142px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	height: 25px;
	vertical-align: top;
}

.input input#submit, button {
	width: 142px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	background-color: green;
	color: #fff;
	height: 37px;
}



/*  success page */
.success{
	padding-top: 50px;
	color: #000000;
	font-size: 12pt;
	font-weight: bold;
	min-height:500px;
	
}
/* order */
.success .team{
	padding:200px 0 0 0;
	color: green;
	font-size: 14pt;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 10px;
}

.input .normal{
	width: 300px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	height: 25px;
	vertical-align: top;
}

.input .city{
	width: 110px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	height: 25px;
	vertical-align: top;
}

.input .postcode{
	width: 75px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	height: 25px;
	vertical-align: top;
}

.input .country{
	width: 110px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	height: 25px;
	vertical-align: top;
}


.itemCaption{
	color: #fff;
	background-color: green;
	text-align:center;
	vertical-align: top;
	width: 118px;
	height: 25px;
}

.itemModelCaption{
	color: #fff;
	background-color: green;
	text-align:center;
	vertical-align: top;
	width: 198px;
	height: 25px;
}
.productItem{
	width: 120px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	height: 25px;
	vertical-align: top;
}
.productModelCode{
	width: 200px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;
	border: 1px solid #000;
	height: 25px;
	vertical-align: top;
}
    /*********submenu************/
    #header #mainMenuItems .submenuProductsEx{margin-top: 50px;background: #000; border-radius:16px;width: 200px;height: 150px;}
	#header #mainMenuItems .submenuProducts{position: absolute;width: 120px;display: none; margin-left: -40px;}
	#header #mainMenuItems .submenuProducts a{width: auto;font-size: 14px;margin-left: 20px;display: block;color:#FFF;line-height: 30px;height: 25px;}	
    #header #mainMenuItems .submenuProducts a:hover {color: #FFF; background: #CC6600;}
	#header #mainMenuItems #menu_04:hover .submenuProducts{	display: block;}
	
   
    
    /* tab panel */
.tabbable {padding: 10px 0 10px 0; width: 770px; color: #000000; line-height: 20px; font-size:14px;} 
.tabbable .tabs {list-style: none; margin: 0 10px; padding: 0;}
.tabbable .tabs li {list-style: none; margin: 0; padding: 0; display: inline-block; position: relative; z-index: 0;}
.tabbable .tabs li a {text-decoration: none; color: #000; border: 1px solid #ccc; padding: 5px; display: inline-block; border-radius: 5px 5px 0 0; background: #f5f5f5;}
.tabbable .tabs li a.active, .tabbable .tabs li a:hover {border-bottom-color: #fff; background: green; color:#fff;}
.tabcontent {border: 1px solid #ccc; margin-top: -1px; min-height:350px;}
.tabcontent div input#button {color: #fff; background-color: green; height: 37px;}
.tabcontent div ul li{
	width: 750px;
	border-bottom: 2px solid #097235;
	overflow: hidden;
	display: inline-block;
	padding: 10px;
}

.tabcontent div ul div{
	display: inline-block;
}
.tabcontent div ul li .left-product{	
	width:130px;
	padding-left:10px;
}

.tabcontent div ul li .left-product img{	
	vertical-align: top;
}

.tabcontent div ul li .right-product-desc{	
	width:600px;	
	padding-left:10px;
}

.tabcontent div ul li div span a{	
	padding-left:10px;
	font-size:14px;
	height: 30px;
	color: #000000;	
}

.tabcontent div#tab1 div{
	padding: 10px 0 10px 10px;
}

.tabcontent div#tab4 p{
	font-size:14px;
	padding: 20px 0 0 20px;
}

.tabcontent .apps p{
	font-size:14px;
	padding: 20px 0 0 20px;
}

.tabcontent div#tab4  p a{
	color: #000000;	
}

.tabcontent .apps p a{
	color: #000000;	
}


/* photo */

.photos{
	margin: 5px 45px 5px 45px;
	display:block;
	position:relative;
	width:900px;
	height:600px;
	overflow:hidden;
}



span.photoarea{
	display:block;
	position:relative;
	z-index:1;
}
.photos .mainphoto{
	position:absolute;
	top:0px;
	left:0px;9
	z-index:2;
	width:504px;
}

.photos a,
.photos img{
	border:0;
	overflow:hidden;
	padding:0px;
	text-decoration:none;
	float:left;
}
#property img{
	margin-bottom:1px;
}
#property .extra{
	display:none;
}
.photos span.photoarea img{
	width:900px;
	height:900px;
	
}

#property{
	padding-top:378px;
}
9
#property .map{
	width:726px;
	height:400px;
	clear:both;
	margin-top:20px;
	border:5px solid #212121;
}
#property .uniqueID{
	position:absolute;
	top:0px;
	right:0px;
}
#property .detail{9
	display:block;
	clear:both;
}
#property .detail .title{
	font-weight:bold;
	width:90px;
	display:block;
	float:left;
}

/* google map test */
.bigMap {
  position: absolute;
  top: 84px;
  right: 0;
  width: 560px;
  height: 472px;
}

.bigMap .container {
  width: 560px;
  height: 472px;
}

.input #nameSearchPanel{
	padding: 5px 0 0 0;
}
.input #nameSearchPanel .nameSearch{
	font-size: 12pt;
	width:80px;
	color: #000000;
	font-weight: bold;
	padding-top: 10px;
	float:left;
}

.input #nameSearchPanel .nameSelect, .personPicker{
	width: 100px;
	height: 37px;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;	
	font-weight: bold;
	border: 1px solid #000;	
	vertical-algin: top;
	float:left;
}

.personPicker{
	width: 100px;
	height: 30px;	
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;	
	font-weight: bold;
	border: 1px solid #000;	
	vertical-algin: top;
	float:left;
}

.input #nameSearchPanel #searchFileName{
	float:left;
	
}

.date{
	color: #000000;
	font: 12pt/1.5em Verdana, Arial, "SimSun", Helvetica, sans-serif;	
	font-weight: bold;
}